.movie_row {
    color: #FFC700;
    margin: 0;
    margin-bottom: 30px;
}

.movie_row > h2 {
    margin: 0px 0px 0px 30px;
}

.list_area {
    overflow-x: hidden;
    padding-left: 30px;
}

.movie_row_list {
    width: 999999999999px;
}

.moovie_row_item {
    display: inline-block;
    width: 150px;
}

.img {
    width: 100%;
    transform: scale(0.9);
}