.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.bottom {
  position: relative;
  display: flex;
}

@media (min-width: 1093px) {
  .bottom {
    margin-top: 100px;
  }
}

.image {
  width: 100%;
  min-height: 100px;
  object-fit: cover;
  margin-bottom: 0;
}

.mark {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.socialIncon {
  width: 45px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 4em;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.socialIncon:hover {
  transform: scale(1.1);
}

.gridContainer {
  z-index: 20;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1093px) {
  .gridContainer {
    position: absolute;
  }
}

@media (min-width: 1093px) {
  .gridContainer {
    width: 80%;
  }
}

@media (max-width: 1092px) {
  .grid {
    width: 100%;
    position: relative;
    display: grid;
    gap: 50px;
    padding: 0px 20px;
  }
}

@media (min-width: 1093px) {
  .grid {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gridBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1092px) {
  .gridBox {
    text-align: center;
  }
}

@media (max-width: 1092px) {
  .gridBox p {
    max-width: 600px;
    padding: 0 10px;
  }
}

@media (min-width: 1093px) {
  .gridBox p {
    max-width: 300px;
    padding-right: 10px;
  }
}

.gridBox h3 {
  margin-bottom: 10px;
  color: var(--color-yellow);
}

.links {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.links a:hover {
  color: aqua;
  cursor: pointer;
}
