.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #ffc700;
  font-size: 48px;
  font-weight: 800;
}

.logo {
  width: 300px;
}

.entrada {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  width: 320px;
}

.entrada .input {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 14px;
  color: #363636;
  outline-color: #ffc700;
}

.entrada .input:hover {
  border-color: #ffc700;
}

.entrada div {
  display: flex;
  justify-content: center;
}

.entrada p {
  display: flex;
  color: white;
  cursor: pointer;
}

.entrada p:hover {
  color: #ffc700;
}

.entrada ::placeholder {
  opacity: 0.4;
}

.button {
  margin-top: 50px;
  width: 320px;
  background-color: #ffc700;
  border-radius: 20px;
  padding: 15px 0px;
  cursor: pointer;
}

.button div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.register {
  display: flex;
  margin-top: 50px;
  gap: 5px;
  color: white;
}

.register a {
  color: #ffc700;
  cursor: pointer;
}
