.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.signup {
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  /* height: 100vh; */
}

@media (min-height: 600px) {
  .signup {
    position: absolute;
    inset: 0;
  }
}

.title {
  color: #ffc700;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 50px;
}

.inputIcon {
  display: flex;
  width: 100%;
}

.inputIcon input {
  width: 100%;
}

.boxIcon {
  position: relative;
  background-color: #ffc700;
}

.icon {
  width: 25px;
  position: absolute;
  margin-top: 12.5px;
  margin-right: 50px;
  cursor: pointer;
  user-select: none;
}

.icon::focus {
  box-shadow: none;
}

.entrada {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  width: 320px;
}

.entrada .input {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 14px;
  color: #363636;
  border: none;
  outline: none;
}

.entrada div {
  display: flex;
  justify-content: center;
}

.entrada p {
  display: flex;
  color: white;
  cursor: pointer;
}

.entrada p:hover {
  color: #ffc700;
}

.entrada ::placeholder {
  opacity: 0.4;
}

.button {
  margin-top: 50px;
  width: 320px;
  background-color: #ffc700;
  border-radius: 20px;
  padding: 15px 0px;
  border: none;
  cursor: pointer;
}

.button div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.register {
  display: flex;
  margin-top: 50px;
  gap: 5px;
  color: white;
}

.register a {
  color: #ffc700;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  inset-inline-start: end;
}

.image {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100vw;
  object-fit: cover;
}
